<div class="car">

  <div class="car-details">

    <table class="table table-striped">
      <tr>
        <td>Type:</td>
        <td>{{car.make}}</td>
      </tr>

      <tr>
        <td>Model:</td>
        <td>{{car.model}}</td>
      </tr>
      <tr>
        <td>Year Model:</td>
        <td>{{car.yearModel}}</td>
      </tr>
      <tr>
        <td>Date Added:</td>
        <td>{{car.dateAdded}}</td>
      </tr>
      <tr>
        <td>Licensed:</td>
        <td>{{car.licensed}}</td>
      </tr>
      <tr>
        <td>Warehouse Name:</td>
        <td>{{car.licensed}}</td>
      </tr>
      <tr>
        <td>Warehouse Name:</td>
        <td>{{warehouse.name}}</td>
      </tr>
      <tr>
        <td>Warehouse Location:</td>
        <td>{{car.warehouseLocation}}</td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>{{car.price}}</td>
      </tr>
    </table>
  </div>

</div>
